html {
    background-color:#222;
    width:278px;
    height:190px;
}

/* nav bar */
    nav h2 {
        font-family: 'Open Sans', sans-serif;
        font-size:3em;
        display:inline-block;
        margin:-2px;
        padding:0px;
        position:relative;
        left:10px;
    }

    .orange {
        color:#FF6600;
    }

    .grey {
        color:#949494;
    }

/* main text */
    .div-popup_action * {
        display:inline;
        position:relative;
        top:5px;
        left:20px;
        opacity:0.75;
        text-decoration:none;
    }

    .div-popup_action *:hover {
        opacity:1.0;
    }

    #div-block_site h2 {
        position:relative;
        left:35px;
        top:-6px;
        color:#FF6600;
        font-family: 'Open Sans', sans-serif;
    }

    #div-settings h2 {
        position:relative;
        left:35px;
        top:-8px;
        color:#949494;
        font-family: 'Open Sans', sans-serif;
    }

/* bottom text */
    /*p {
        font-size:0.7em;
        color:#AAA;
        float:right;
    }*/